<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h5 class="my-4">Xem Đơn Mua Hàng</h5>

      <h6 class="mb-4">Khách Hàng: John Doe</h6>
    </div>
    <div class="col-md-3" style="margin-top: 24px">
      <label for="" class="form-label">Trạng thái</label>
      <ng-select style="width: 160px" [items]="listStatus" bindLabel="name" bindValue="id" placeholder="--Lựa chọn--"
                 [searchable]="false" [clearable]="false" (change)="getAllOrder()" [ngModelOptions]="{standalone: true}" [(ngModel)]="status">
      </ng-select>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
  </div>


  <div class="grid" >
    <ag-grid-angular style="width: 80%; height: 450px" class="ag-theme-alpine"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     [headerHeight]="headerHeight"
                     [rowHeight]="rowHeight"
                     [pagination]="true"
                     [paginationPageSize]="10"
                     [suppressHorizontalScroll]="true"
                     (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <br>
  <a href="index.html" class="btn btn-primary">Quay lại trang chủ</a>
</div>
