<h1 mat-dialog-title>Thêm chi tiết sản phẩm</h1>
<div mat-dialog-content class="example-container">
  <mat-form-field>
    <mat-label>Sản phẩm</mat-label>
    <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="IdProduct">
      <mat-option *ngFor="let prd of product" [value]="prd.id">
        {{prd.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Màu sắc</mat-label>
    <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="IdColor">
      <mat-option *ngFor="let cl of color" [value]="cl.id">
        {{cl.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Kích cỡ</mat-label>
    <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="IdSize">
      <mat-option *ngFor="let sz of size" [value]="sz.id">
        {{sz.sizeNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Số lượng</mat-label>
    <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="quantity" name="quantity" matInput placeholder="Số lượng">
  </mat-form-field>
  <mat-radio-group [ngModelOptions]="{ standalone: true }" [(ngModel)]="shoeCollar" name="shoeCollar">
    <mat-label>Cổ giày</mat-label>
    <mat-radio-button [value]="0">Cổ thấp</mat-radio-button>
    <mat-radio-button [value]="1">Cổ cao</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
  <button mat-raised-button color="primary" (click)="clickadd()">Thêm</button>
</div>
