<div class="container my-5">
  <div class="row">
    <div class="col-md-5">
      <div class="main-img">
        <img class="img-fluid" [src]="product.imagesDTOList[0].imageName" alt="ProductS">
        <div class="row my-3 previews" style="    display: flex;justify-content: space-around;">
          <div class="col-md-3" *ngFor="let img of product.imagesDTOList">
            <img class="w-100" [src]="img.imageName" alt="Sale">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="main-description px-2">
        <div class="category text-bold">
          Loại: {{product.categoryDTO.name}}
        </div>
        <div class="product-title text-bold my-3">
          {{product.name}}
        </div>


        <div class="price-area my-4" *ngIf="product.reducePrice != null && product.percentageReduce != null">
          <div class="old-price"><del>{{utilService.formatMoney(product.price)}}</del></div>
          <div class="new-price"><span>{{utilService.formatMoney(product.price - product.reducePrice)}}</span></div>
        </div>
        <div class="price-area my-4" *ngIf="product.reducePrice == null && product.percentageReduce == null">
          <div class="new-price"><span>{{utilService.formatMoney(product.price)}}</span></div>
        </div>

      </div>

<!--      size-->
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Size</p>
        <div class="d-flex">
          <div class="selection" *ngFor="let s of listSize">
            <button type="button" style="border-radius: 5px;width: 40px;" (click)="selectSize(s)" [disabled]="s.disabled" [class.red-selected-size]="s.isSelected">{{s.sizeNumber}}</button>
          </div>
        </div>
      </div>


      <!--      màu sắc-->
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Màu Sắc</p>
        <div class="d-flex">
          <div class="selection" *ngFor="let c of listColor">
            <button type="button" style="border-radius: 5px;width: 92px;" (click)="selectColor(c)" [disabled]="c.disabled" [class.red-selected-color]="c.isSelected">{{c.name}}</button>
          </div>
        </div>
      </div>

<!--      Số lượng-->
<!--      <br>-->
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Số lượng :{{(getProductDetailQuantity() == 0 || getProductDetailQuantity()== null) ? product.totalQuantity : getProductDetailQuantity()}}</p>
      </div>
<!--      <div class="wrap-num-product flex-w m-r-20 m-tb-10 flex-w flex-r-m p-b-10">-->
<!--        <div-->
<!--          class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">-->
<!--          <i class="fa-solid fa-minus"></i>-->
<!--        </div>-->

<!--        <input-->
<!--          class="mtext-104 cl3 txt-center num-product"-->
<!--          type="number"-->
<!--          name="num-product"-->
<!--          value="1" />-->

<!--        <div-->
<!--          class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">-->
<!--          <i class="fa-solid fa-plus"></i>-->
<!--        </div>-->
<!--      </div>-->
      <div class ="btn-groups">
        <button class = "add-cart-btn" [disabled]="bothSizeAndColorSelected === false" [style.opacity]="bothSizeAndColorSelected === false ? '0.5': ''" (click)="addToCart(product.id)"><i class = "fas fa-shopping-cart"></i>Thêm giỏ hàng</button>
        <button class = "buy-now-btn" [disabled]="bothSizeAndColorSelected === false" [style.opacity]="bothSizeAndColorSelected === false ? '0.5': ''" (click)="buyNow(product.id);"><i class = "fas fa-wallet"></i>Mua ngay</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="product-details my-2">
      <p class="details-title text-color mb-1">Thông Tin Chi Tiết</p>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat excepturi
        odio recusandae aliquid ad impedit autem commodi earum voluptatem laboriosam? </p>
    </div>
    <div class="product-details my-2">
      <p class="details-title text-color mb-2">Hãng</p>
      <ul>
        <li>Cotton</li>
        <li>Machine-wash</li>
      </ul>
    </div>
    <div class="product-details my-2">
      <p class="details-title text-color mb-2">Chất Liệu</p>
      <ul>
        <li>Cotton</li>
        <li>Machine-wash</li>
      </ul>
    </div>
  </div>
</div>



<div class="container similar-products my-4">
  <hr>
  <p class="display-5">Sản Phẩm Tương Tự</p>

  <div class="row">
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh5.jpg" alt="Preview">
        <p class="title">Lovely black dress</p>
        <p class="price">$100</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh6.jpg" alt="Preview">
        <p class="title">Lovely Dress with patterns</p>
        <p class="price">$85</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh7.jpg" alt="Preview">
        <p class="title">Lovely fashion dress</p>
        <p class="price">$200</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh8.jpg" alt="Preview">
        <p class="title">Lovely red dress</p>
        <p class="price">$120</p>
      </div>
    </div>
  </div>
</div>

