<div class="container my-5">
  <div class="row">
    <div class="col-md-5">
      <div class="main-img">
        <img class="img-fluid" src="assets/image/anh4.jpg" alt="ProductS">
        <div class="row my-3 previews">
          <div class="col-md-3">
            <img class="w-100" src="assets/image/anh4.jpg" alt="Sale">
          </div>
          <div class="col-md-3">
            <img class="w-100" src="assets/image/anh4.jpg" alt="Sale">
          </div>
          <div class="col-md-3">
            <img class="w-100" src="assets/image/anh4.jpg" alt="Sale">
          </div>
          <div class="col-md-3">
            <img class="w-100" src="assets/image/anh4.jpg" alt="Sale">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="main-description px-2">
        <div class="category text-bold">
          Loại: Giày Thể Thao Nam
        </div>
        <div class="product-title text-bold my-3">
          Giày Sneaker Nam Chính Hãng
        </div>


        <div class="price-area my-4">
          <p class="old-price mb-1"><del>$100</del>
            <span class="old-price-discount text-danger">(20% off)</span></p>
          <p class="new-price text-bold mb-1">$80</p>
          <p class="text-secondary mb-1">(Thuế bổ sung có thể áp dụng khi thanh toán)</p>

        </div>


        <div class="buttons d-flex">
          <div class="block">
            <a href="#" class="shadow btn custom-btn ">Mua Ngay</a>
          </div>
          <div class="block">
            <button class="shadow btn custom-btn">Add to cart</button>
          </div>

          <div class="block quantity">
            <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5" placeholder="Enter email" name="cart_quantity">
          </div>
        </div>

      </div>

      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Thông Tin Chi Tiết</p>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat excepturi
          odio recusandae aliquid ad impedit autem commodi earum voluptatem laboriosam? </p>
      </div>
      <div class="product-details my-2">
        <p class="details-title text-color mb-2">Hãng</p>
        <ul>
          <li>Cotton</li>
          <li>Machine-wash</li>
        </ul>
      </div>
      <div class="product-details my-2">
        <p class="details-title text-color mb-2">Chất Liệu</p>
        <ul>
          <li>Cotton</li>
          <li>Machine-wash</li>
        </ul>
      </div>
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">size</p>
       <div class="d-flex">
         <div class="selection">
           <input type="radio" id="item1" name="items">
           <label for="item1" class="radio-label">38</label>
         </div>
         <div class="selection">
           <input type="radio" id="item2" name="items">
           <label for="item2" class="radio-label">39</label>
         </div>
         <div class="selection">
           <input type="radio" id="item3" name="items">
           <label for="item3" class="radio-label">40</label>
         </div>
         <div class="selection">
           <input type="radio" id="item4" name="items">
           <label for="item4" class="radio-label">41</label>
         </div>
       </div>
      </div>

      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Màu Sắc</p>
        <div class="d-flex">
          <div class="selection">
            <input type="radio" id="mau1" name="items1">
            <label for="mau1" class="radio-label">Đỏ</label>
          </div>
          <div class="selection">
            <input type="radio" id="mau2" name="items1">
            <label for="mau2" class="radio-label">Trắng</label>
          </div>
          <div class="selection">
            <input type="radio" id="mau3" name="items1">
            <label for="mau3" class="radio-label">Đen</label>
          </div>
          <div class="selection">
            <input type="radio" id="mau4" name="items1">
            <label for="mau4" class="radio-label">Cam</label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="container similar-products my-4">
  <hr>
  <p class="display-5">Sản Phẩm Tương Tự</p>

  <div class="row">
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh5.jpg" alt="Preview">
        <p class="title">Lovely black dress</p>
        <p class="price">$100</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh6.jpg" alt="Preview">
        <p class="title">Lovely Dress with patterns</p>
        <p class="price">$85</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh7.jpg" alt="Preview">
        <p class="title">Lovely fashion dress</p>
        <p class="price">$200</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="similar-product">
        <img class="w-100" src="assets/image/anh8.jpg" alt="Preview">
        <p class="title">Lovely red dress</p>
        <p class="price">$120</p>
      </div>
    </div>
  </div>
</div>

