<div class="container my-5">
  <div class="row">
    <div class="col-md-5">
      <div class="main-img">
        <img class="img-fluid" [src]="product.imagesDTOList[0].imageName" alt="ProductS">
        <div class="row my-3 previews" style="    display: flex;justify-content: space-around;">
          <div class="col-md-3" *ngFor="let img of product.imagesDTOList">
            <img class="w-100" [src]="img.imageName" alt="Sale">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="main-description px-2">
        <div class="category text-bold">
          Loại: {{product.categoryDTO.name}}
        </div>
        <div class="product-title text-bold my-3">
          {{product.name}}
        </div>


        <div class="price-area my-4" *ngIf="product.reducePrice != null && product.percentageReduce != null">
          <div class="old-price"><del>{{utilService.formatMoney(product.price)}}</del></div>
          <div class="new-price"><span>{{utilService.formatMoney(product.price - product.reducePrice)}}</span></div>
        </div>
        <div class="price-area my-4" *ngIf="product.reducePrice == null && product.percentageReduce == null">
          <div class="new-price"><span>{{utilService.formatMoney(product.price)}}</span></div>
        </div>

      </div>

<!--      size-->
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Size</p>
        <div class="d-flex">
          <div class="selection" *ngFor="let s of listSize">
            <button type="button" style="border-radius: 5px;width: 40px;" (click)="selectSize(s)" [disabled]="s.disabled" [class.red-selected-size]="s.isSelected">{{s.sizeNumber}}</button>
          </div>
        </div>
      </div>


      <!--      màu sắc-->
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Màu Sắc</p>
        <div class="d-flex">
          <div class="selection" *ngFor="let c of listColor">
            <button type="button" style="border-radius: 5px;width: 92px;" (click)="selectColor(c)" [disabled]="c.disabled" [class.red-selected-color]="c.isSelected">{{c.name}}</button>
          </div>
        </div>
      </div>

<!--      Số lượng-->
<!--      <br>-->
      <div class="product-details my-2">
        <p class="details-title text-color mb-1">Số lượng :{{(getProductDetailQuantity() == 0 || getProductDetailQuantity()== null) ? product.totalQuantity : getProductDetailQuantity()}}</p>
      </div>
      <div class="wrap-num-product flex-w m-r-20 m-tb-10 flex-w flex-r-m p-b-10" *ngIf="bothSizeAndColorSelected == true">
        <button type="button"
          class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" [style.cursor]="quantityBuy > 1? 'pointer':'not-allowed'" (click)="giamSoLuong();" [disabled]="quantityBuy <= 1">
          <i class="fa-solid fa-minus"></i>
        </button>

        <input style="width: 30px;height: 30px;"
          class="mtext-104 cl3 txt-center num-product"
          type="number"
          name="num-product"
          [(ngModel)]="quantityBuy" />
        <button type="button"
          class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" [style.cursor]="quantityBuy < getProductDetailQuantity()? 'pointer':'not-allowed'" (click)="tangSoLuong();" [disabled]="quantityBuy >= getProductDetailQuantity()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div class ="btn-groups">
        <button class = "add-cart-btn" [disabled]="bothSizeAndColorSelected === false" [style.opacity]="bothSizeAndColorSelected === false ? '0.5': ''" (click)="addToCart(product.id)"><i class = "fas fa-shopping-cart"></i>Thêm giỏ hàng</button>
        <button class = "buy-now-btn" [disabled]="bothSizeAndColorSelected === false" [style.opacity]="bothSizeAndColorSelected === false ? '0.5': ''" (click)="buyNow(product.id);"><i class = "fas fa-wallet"></i>Mua ngay</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="product-details my-2">
      <p class="details-title text-color mb-1">Mô Tả</p>
      <p class="description">{{product?.description}}</p>
    </div>
    <div class="product-details my-2">
      <p class="details-title text-color mb-2">Thông Tin Chi Tiết</p>
      <ul>
        <li style="margin-top: 10px"><strong>Hãng:</strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{product.brandDTO?.name}}</li>
        <li style="margin-top: 10px"><strong>Chất Liệu:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    {{product.materialDTO?.name}} </li>
<!--        <li style="margin-top: 10px"><strong>Độ cao của đế:</strong> &nbsp;&nbsp;&nbsp;&nbsp;  {{product.soleDTO.soleHeight}} cm (Chất liệu: {{product.soleDTO.soleMaterial}})</li>-->
<!--        <li><strong>Cổ giày:</strong>  &nbsp;&nbsp;&nbsp;&nbsp;       {{product.brandDTO.name}}</li>-->
      </ul>
    </div>
<!--    <div class="product-details my-2">-->
<!--      <p class="details-title text-color mb-2">Chất Liệu</p>-->
<!--      <ul>-->
<!--        <li>Cotton</li>-->
<!--        <li>Machine-wash</li>-->
<!--      </ul>-->
<!--    </div>-->
  </div>
</div>



<div class="container similar-products my-4">
  <hr>
  <p class="display-5">Sản Phẩm Tương Tự</p>

<!--  <div class="row">-->
<!--    <div class="col-3" style="display: flex; gap: 10px" *ngFor="let p of listProductTuongTu">-->
<!--      <div class="card" style="width: 18rem;">-->
<!--        <a [routerLink]="['/product-details',p.id]">-->
<!--          <img style="width: 250px; height: 330px"-->
<!--            (mouseenter)="onMouseEnter(p)"-->
<!--            (mouseleave)="onMouseLeave(p)"-->
<!--            [src]="isMouseOver[p.id] ? p.imagesDTOList[1].imageName : p.imagesDTOList[0].imageName"-->
<!--            class="card-img-top"-->
<!--            alt="..."-->
<!--          >-->
<!--          <span *ngIf="p.reducePrice != null && p.percentageReduce != null" class="percentage-badge">{{ p.percentageReduce }}%</span>-->
<!--        </a>-->

<!--        <div class="card-body">-->
<!--          <h5 class="card-title">{{p.name}}</h5>-->
<!--          <div *ngIf="p.reducePrice == null && p.percentageReduce == null"><span>{{p.price}}</span> đ</div>-->
<!--          <div *ngIf="p.reducePrice != null && p.percentageReduce != null"> <del>{{utilService.formatMoney(p.price)}}</del>  <span style="margin-left: 5px">{{utilService.formatMoney(p.price - p.reducePrice)}}</span></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>

