<div class="example-button-row" >
  <button mat-raised-button color="primary" style="margin-bottom: 20px; margin-left: 20px" routerLink="/admin/creat-voucherFS">Thêm Voucher FreeShip</button>
</div>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Tất Cả
    </ng-template>
    <div>
      <div class="filter-container">
        <div class="form-group">
          <label>Điều kiện lọc</label>
          <select
            class="form-control"
            id="discountType"
            name="discountType"
            required
          >
            <option value="0">Theo điều kiện sử dụng</option>
            <option value="1">Theo khách hàng</option>
            <option value="1">Theo khoảng thời gian</option>
          </select>
        </div>
        <!--        <mat-form-field>-->
        <!--          <mat-label>Enter a date range</mat-label>-->
        <!--          <mat-date-range-input [rangePicker]="picker">-->
        <!--            <input matStartDate placeholder="Start date">-->
        <!--            <input matEndDate placeholder="End date">-->
        <!--          </mat-date-range-input>-->
        <!--          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>-->
        <!--          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
        <!--          <mat-date-range-picker #picker></mat-date-range-picker>-->
        <!--        </mat-form-field>-->

        <!--                  <button mat-raised-button color="primary" >Tìm kiếm</button>-->

        <!--        <div class="search-box">-->
        <!--          <input type="text" id="search" style="width: 400px;height: 30px" placeholder="Mã hoặc tên" (input)="onSearchChange($event)">-->
        <!--&lt;!&ndash;          <button mat-icon-button color="primary">&ndash;&gt;-->
        <!--&lt;!&ndash;            <mat-icon>search</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;          </button>&ndash;&gt;-->
      </div>

      <div class="grid">
        <ag-grid-angular
          style="width: 100%; height: 500px;"
          class="ag-theme-balham"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [headerHeight]="headerHeight"
          [rowHeight]="rowHeight"
          [pagination]="true"
          [paginationPageSize]="10"
          [domLayout]="'autoHeight'"
        ></ag-grid-angular>
      </div>

    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Đang kích hoạt
    </ng-template>
    <div>
      <div class="grid">
        <ag-grid-angular
          style="width: 100%; height: 500px;"
          class="ag-theme-balham"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [headerHeight]="headerHeight"
          [rowHeight]="rowHeight"
          [pagination]="true"
          [paginationPageSize]="10"
          [domLayout]="'autoHeight'"
        ></ag-grid-angular>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Chưa kích hoạt
    </ng-template>
    <div>
      <div class="grid">
        <ag-grid-angular
          style="width: 100%; height: 500px;"
          class="ag-theme-balham"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [headerHeight]="headerHeight"
          [rowHeight]="rowHeight"
          [pagination]="true"
          [paginationPageSize]="10"
          [domLayout]="'autoHeight'"
        ></ag-grid-angular>
      </div>
    </div>
  </mat-tab>

</mat-tab-group>



