<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Giảm giá</h3>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
              <tr>
                <th scope="row">Tên</th>
                <td>{{ discount.name }}</td>
              </tr>
              <tr>
                <th scope="row">Nội dung</th>
                <td>{{ discount.description }}</td>
              </tr>
              <tr>
                <th scope="row">Ngày bắt đầu</th>
                <td>{{ discount.startDate }}</td>
              </tr>
              <tr>
                <th scope="row">Ngày kết thúc</th>
                <td>{{ discount.endDate }}</td>
              </tr>
              <tr>
                <th scope="row">Loại giảm giá</th>
                <td>{{ discount.discountType == 0 ? 'Theo %' : 'Theo tiền mặt' }}</td>
              </tr>
              <tr>
                <th scope="row">Giá trị giảm</th>
                <td>{{ discount.reducedValue }}</td>
              </tr>
              <tr *ngIf="discount.discountType == 0">
                <th scope="row">Giá trị giảm tối đa</th>
                <td>{{ discount.maxReduced }}</td>
              </tr>
              <tr>
                <th scope="row">Số lượng</th>
                <td>{{ discount.quantity }}</td>
              </tr>
              <tr>
                <th scope="row">Người tạo</th>
                <td>{{ discount.createName }}</td>
              </tr>
              <tr>
                <th scope="row">Sản phẩm giảm</th>
                <td>
                  <table border="1">
                    <thead>
                    <tr>
                      <th>Mã sản phẩm</th>
                      <th>Tên sản phẩm</th>
                      <th>Giá sản phẩm</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of discount.productDTOList">
                      <td>{{ product.code }}</td>
                      <td>{{ product.name }}</td>
                      <td>{{ product.price }}</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
