<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voucher Details</title>
</head>
<body>
<h1>Voucher Details</h1>
<table>
  <tr>
    <th>Tên:</th>
    <td>{{voucher.name}}</td>
  </tr>
  <tr>
    <th>Ngày bắt đầu:</th>
    <td>{{voucher.startDate}}</td>
  </tr>
  <tr>
    <th>Ngày kết thúc:</th>
    <td>{{voucher.endDate}}</td>
  </tr>
  <tr>
    <th>Nội dung:</th>
    <td>{{voucher.description}}</td>
  </tr>
  <tr>
    <th>Điều kiện áp dụng:</th>
    <td>{{voucher.conditions}}</td>
  </tr>
  <tr>
    <th>Loại voucher:</th>
    <td>{{getVoucherTypeText()}}</td>
  </tr>
  <tr>
    <th>Giá trị giảm:</th>
    <td>{{voucher.reducedValue}}</td>
  </tr>
  <tr>
    <th>Số lượng voucher:</th>
    <td>{{voucher.quantity}}</td>
  </tr>
  <div class="form-group">
    <label for="customer">Khách hàng</label>
    <div class="grid">
      <ul>
        <li *ngFor="let customer of voucher.customerAdminDTOList">{{ customer.fullname }}</li>
      </ul>
    </div>
  </div>
</table>
</body>
</html>
