<div class="login_form ">
  <div class="left">
    <img src="assets/image/logshoes.png">
  </div>

  <div class="right">
    <h1>Quên Mật Khẩu</h1>

    <form>
      <p>Email của bạn! </p>
      <div class="user">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="email" placeholder="Email" class="username" >
      </div>
      <p class="passworg_tag">Mã OTP</p>
      <div class="d-flex">
        <div class="password">
          <i class="fa-solid fa-lock"></i>
          <input type="text" name="otp" placeholder="OTP">
        </div>
        <a href="" class="btn btn-primary">Gửi OTP</a>
      </div>
      <div class="d-flex">
        <p class="sign-up">
          Bạn đã có tài khoản ?
        </p>
        <p class="forget">
          <a href="/login">Đăng nhập</a>
        </p>
      </div>
      <button type="submit">Xác Nhận</button>
    </form>

  </div>

</div>

