<div class="login_form ">
  <div class="left">
    <img src="assets/image/logshoes.png">
  </div>

  <div class="right">
    <h1>Quên Mật Khẩu</h1>

    <form (ngSubmit)="isOTPSent ? verifyOTP() : sendMailOTP()">
      <p>Email của bạn! </p>
      <div class="user">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="email" placeholder="Email" class="username" [(ngModel)]="infoCustomer.email">
      </div>

      <p class="passworg_tag" *ngIf="isOTPSent">Mã OTP</p>
      <div class="d-flex">
        <div class="password" *ngIf="isOTPSent">
          <i class="fa-solid fa-lock"></i>
          <input type="text" name="otp" placeholder="OTP" [(ngModel)]="infoCustomer.otp">
        </div>
        <button type="submit" class="btn btn-primary" style="width: 92px; font-size: 14px">
          {{ isOTPSent ? 'Xác Nhận' : 'Gửi OTP' }}
        </button>
      </div>

      <div class="d-flex">
        <p class="sign-up">
          Bạn đã có tài khoản ?
        </p>
        <p class="forget">
          <a href="/login">Đăng nhập</a>
        </p>
      </div>
    </form>


  </div>

</div>

