<div class="container">
  <div class="row" style="display: flex; justify-content: space-around">
    <div class="col" style="background: red; height: 200px">Tổng đơn hàng</div>
    <div class="col" style="background: blue; height: 200px">Danh thu</div>
    <div class="col" style="background: yellow; height: 200px">
      Tổng đơn hoàn thành
    </div>
    <div class="col" style="background: blueviolet; height: 200px">
      Tổng đơn hủy
    </div>
  </div>
  <div>
    <kendo-chart>
      <kendo-chart-title text="Biểu đồ doanh thu"></kendo-chart-title>
      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item
          [categories]="[
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
          ]"
          [title]="{ text: 'Tháng' }"
        >
        </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-series>
        <kendo-chart-series-item
          type="line"
          [data]="[123, 276, 310, 212, 240, 156, 98, 112, 789, 122, 112, 897]"
        >
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </div>
</div>
