<div class="container">
    <h2>Tài khoản của tôi</h2>
  <hr>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin tài khoản</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Bảo mật</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active col" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <h6>chi tiết:</h6>
      <div class="d-flex">
        <div class="cold-4 ">
          <input type="text">
        </div>
        <div class="cold-4">
          <input type="text">
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">bbb</div>
  </div>
</div>
