<h1 mat-dialog-title>Cập nhật sản phẩm</h1>
<div mat-dialog-content class="example-container"style="display: flex">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Mã</mat-label>
      <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.code" matInput placeholder="Mã">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tên sản phẩm</mat-label>
      <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.name" name="Name" matInput placeholder="Tên sản phẩm">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mô tả</mat-label>
      <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.description" name="Description" matInput placeholder="Mô tả">
    </mat-form-field>
    <mat-radio-group [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.status" name="Status">
      <mat-label>Trạng thái</mat-label>
      <mat-radio-button [value]="0">Còn hàng</mat-radio-button>
      <mat-radio-button [value]="1">Hết hàng</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Thương hiệu</mat-label>
      <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.idBrand">
        <mat-option *ngFor="let br of brand" [value]="br.id">
          {{br.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Danh mục</mat-label>
      <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.idCategory">
        <mat-option *ngFor="let cate of categories" [value]="cate.id">
          {{cate.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Đế giày</mat-label>
      <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.idSole">
        <mat-option *ngFor="let sl of sole" [value]="sl.id">
          {{sl.soleHeight}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chất liệu</mat-label>
      <mat-select [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.idMaterial">
        <mat-option *ngFor="let mt of material" [value]="mt.id">
          {{mt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>IdBrand</mat-label>-->
<!--      <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.idBrand" name="IdBrand" matInput placeholder="IdBrand">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>IdCategory</mat-label>-->
<!--      <input [(ngModel)]="data.idCategory" name="IdCategory" matInput placeholder="IdCategory">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>IdSole</mat-label>-->
<!--      <input [(ngModel)]="data.idSole" name="IdSole" matInput placeholder="IdSole">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>IdMaterial</mat-label>-->
<!--      <input [(ngModel)]="data.idMaterial" name="IdMaterial" matInput placeholder="IdMaterial">-->
<!--    </mat-form-field>-->
    <mat-form-field appearance="outline">
      <mat-label>Gía</mat-label>
      <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="product.price" name="Price" matInput placeholder="Price">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" routerLink="/admin/san-pham">Đóng</button>
  <button mat-raised-button color="primary" (click)="clickUpdate(idProduct)" >Cập nhật</button>
</div>
