<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Giảm giá</h3>
          </div>

          <form (submit)="addDiscount()">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Tên</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="discount.discountAdminDTO.name"
                  placeholder="Tên giảm giá"
                  name="name"
                  required
                  minlength="5"
                />
                <div *ngIf="!discount.discountAdminDTO.name || (discount.discountAdminDTO.name && discount.discountAdminDTO.name.length < 5)" class="alert alert-danger">
                  <div *ngIf="!discount.discountAdminDTO.name">Vui lòng nhập tên.</div>
                  <div *ngIf="discount.discountAdminDTO.name && discount.discountAdminDTO.name.length < 5">Tên phải có ít nhất 5 kí tự.</div>
                </div>
              </div>

              <div class="form-group">
                <label for="description">Nội dung</label>
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="discount.discountAdminDTO.description"
                  placeholder="Nội dung"
                  name="description"
                  required
                />
                <div *ngIf="!discount.discountAdminDTO.description || (discount.discountAdminDTO.description && discount.discountAdminDTO.description.trim() === '')" class="alert alert-danger">
                  <div *ngIf="!discount.discountAdminDTO.description">Vui lòng nhập nội dung.</div>
                </div>
              </div>

              <div class="form-group">
                <label for="startDate">Ngày bắt đầu</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  [ngModelOptions]="{ standalone: true }"
                  id="startDate"
                  [(ngModel)]="discount.discountAdminDTO.startDate"
                  name="startDate"
                  required
                />
                <div *ngIf="!discount.discountAdminDTO.startDate || discount.discountAdminDTO.startDate < currentDate" class="alert alert-danger">
                  <div *ngIf="!discount.discountAdminDTO.startDate">
                    Vui lòng chọn ngày bắt đầu.
                  </div>
                  <div *ngIf="discount.discountAdminDTO.startDate && !isStartDateValid()">
                    Ngày bắt đầu phải lớn hơn hoặc bằng ngày hiện tại.
                  </div>
                </div>

              </div>

              <div class="form-group">
                <label for="endDate">Ngày kết thúc</label>
                <input
                  type="datetime-local"
                  class="form-control"
                  [ngModelOptions]="{ standalone: true }"
                  id="endDate"
                  [(ngModel)]="discount.discountAdminDTO.endDate"
                  name="endDate"
                  required
                />
                <div *ngIf="!discount.discountAdminDTO.endDate || !discount.isValidDateRange()" class="alert alert-danger">
                  <div *ngIf="!discount.discountAdminDTO.endDate">Vui lòng chọn ngày kết thúc.</div>
                  <div *ngIf="!discount.isValidDateRange()">Ngày kết thúc phải lớn hơn ngày bắt đầu.</div>
                </div>
              </div>

              <div class="form-group">
                <label for="discountType">Loại giảm giá</label>
                <select
                  class="form-control"
                  id="discountType"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="discount.discountType"
                  name="discountType"
                  required
                >
                  <option >Chọn loại giảm giá</option>
                  <option value="0">Theo %</option>
                  <option value="1">Theo tiền mặt</option>
                </select>
                <div *ngIf="!discount.discountType" class="alert alert-danger">
                  <div *ngIf="!discount.discountType">Vui lòng chọn loại giảm giá.</div>
                </div>
              </div>

              <div class="form-group" >
                <label for="reducedValue">Giá trị giảm</label>
                <input
                  type="text"
                  class="form-control"
                  id="reducedValue"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="discount.reducedValue"
                  placeholder="Giá trị giảm"
                  [max]="discount.discountType === '0' ? 100 : null"
                />
                <div *ngIf="discount.discountType === '0' && discount.reducedValue > 100 " class="text-danger">
                  Giá trị giảm không được quá 100%
                </div>
                <div *ngIf="!discount.reducedValue" class="alert alert-danger">
                  <div *ngIf="!discount.reducedValue">Vui lòng nhập giá trị giảm.</div>
                </div>
              </div>

              <div class="form-group" *ngIf="discount.discountType == '0'">
                <label for="maxReduced">Giá trị giảm tối đa</label>
                <input
                  type="text"
                  class="form-control"
                  id="maxReduced"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="discount.maxReduced"
                  placeholder="Giá trị giảm tối đa"
                />
                <div *ngIf="!discount.maxReduced" class="alert alert-danger">
                  <div *ngIf="!discount.maxReduced">Vui lòng nhập giá trị giảm tối đa</div>
                </div>

              </div>
              <div class="form-group">
                <label for="discountType">Sản phẩm áp dụng</label>
                <select
                  class="form-control"
                  id="spap"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="discount.spap"
                  name="discountType"
                  required
                >
                  <option value="0">Tất cả sản phẩm</option>
                  <option value="1">Tùy chọn</option>
                </select>
                <div *ngIf="!discount.spap" class="alert alert-danger">
                  <div *ngIf="!discount.spap">Vui lòng chọn sản phẩm áp dụng.</div>
                </div>
              </div>

              <div class="form-group" *ngIf="discount.spap == '1'">
                <label for="product">Sản phẩm giảm</label>
                <div class="grid">
                  <ag-grid-angular
                    style="width: 100%; height: 300px"
                    class="ag-theme-balham"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [rowSelection]="rowSelection"
                    [headerHeight]="headerHeight"
                    [rowHeight]="rowHeight"
                    [pagination]="true"
                    [paginationPageSize]="5"
                    [domLayout]="'autoHeight'"
                    (gridReady)="onGridReady($event)"
                  ></ag-grid-angular>

                </div>
              </div>
              <div class="form-group">
                <label for="limitCustomer">Số lượng</label>
                <input
                  type="number"
                  class="form-control"
                  id="limitCustomer"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="discount.discountAdminDTO.quantity"
                  placeholder="Số lượng"
                />
                <div *ngIf="!discount.discountAdminDTO.quantity" class="alert alert-danger">
                  <div *ngIf="!discount.discountAdminDTO.quantity">Vui lòng nhập số lượng</div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
