<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Voucher</h3>
          </div>
          <form>
            <div class="form-group" >
              <input
                type="date"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                id="id"
                [(ngModel)]="voucher.id"
                [hidden]="isHidden"
              />
            </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Tên</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.name"
                    placeholder="Tên"
                  />
                  <div *ngIf="!voucher.name || (voucher.name && voucher.name.length < 5)" class="alert alert-danger">
                    <div *ngIf="!voucher.name">Vui lòng nhập tên.</div>
                    <div *ngIf="voucher.name && voucher.name.length < 5">Tên phải có ít nhất 5 kí tự.</div>
                    <div *ngIf="voucher.name && !voucher.name.match(pattern)">Tên không chứa kí tự đặc biệt.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="startDate">Ngày bắt đầu</label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    id="startDate"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.startDate"
                  />
                  <div *ngIf="!voucher.startDate || voucher.startDate < currentDate" class="alert alert-danger">
                    <div *ngIf="!voucher.startDate">
                      Vui lòng chọn ngày bắt đầu.
                    </div>
                    <div *ngIf="voucher.startDate && !isStartDateValid()">
                      Ngày bắt đầu phải lớn hơn hoặc bằng ngày hiện tại.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="endDate">Ngày kết thúc</label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    id="endDate"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.endDate"
                  />
                  <div *ngIf="!voucher.endDate || !voucher.isValidDateRange()" class="alert alert-danger">
                    <div *ngIf="!voucher.endDate">Vui lòng chọn ngày kết thúc.</div>
                    <div *ngIf="!voucher.isValidDateRange()">Ngày kết thúc phải lớn hơn ngày bắt đầu.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="description">Nội dung</label>
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.description"
                    placeholder="Nội dung"
                  />
                  <div *ngIf="!voucher.description" class="alert alert-danger">
                    <div *ngIf="!voucher.description">Vui lòng nhập nội dung.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="condition">Điều kiện sử dụng</label>
                  <input
                    type="text"
                    class="form-control"
                    id="condition"
                    [(ngModel)]="voucher.conditions"
                    name="condition"
                    placeholder="Giá trị đơn hàng"
                    required
                  />
                  <div *ngIf="!voucher.conditions" class="alert alert-danger">Vui lòng nhập điều kiện sử dụng.</div>
<!--                  <div *ngIf="voucher.conditions && !voucher.conditions.match(so)" class="alert alert-danger">Điều kiện sử dụng phải là số không âm.</div>-->
                </div>

                <div class="form-group">
                  <label for="discountType">Loại voucher</label>
                  <select
                    class="form-control"
                    id="discountType"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.voucherType"
                  >
                    <option value="">Chọn loại voucher</option>
                    <option value="0">Theo %</option>
                    <option value="1">Theo tiền</option>
                  </select>
                  <div *ngIf="!voucher.voucherType" class="alert alert-danger">
                    <div *ngIf="!voucher.voucherType">Vui lòng chọn loại voucher.</div>
                  </div>
                </div>

                <div class="form-group" >
                  <label for="reducedValue">Giá trị giảm</label>
                  <input
                    type="text"
                    class="form-control"
                    id="reducedValue"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.reducedValue"
                    placeholder="Giá trị giảm"
                    [max]="voucher.voucherType === '0' ? 100 : null"
                  />
                  <div *ngIf="voucher.voucherType === '0' && voucher.reducedValue > 100" class="text-danger">
                    Giá trị giảm không được quá 100%
                  </div>
                  <div *ngIf="!voucher.reducedValue" class="alert alert-danger">
                    <div *ngIf="!voucher.reducedValue">Vui lòng nhập giá trị giảm.</div>
                  </div>
                </div>

                <div class="form-group" *ngIf="voucher.voucherType == '0'">
                  <label for="maxReduced">Giá trị giảm tối đa</label>
                  <input
                    type="text"
                    class="form-control"
                    id="maxReduced"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.maxReduced"
                    placeholder="Giá trị giảm tối đa"
                  />
                  <div *ngIf="!voucher.maxReduced" class="alert alert-danger">
                    <div *ngIf="!voucher.maxReduced">Vui lòng nhập giá trị giảm tối đa.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="quantity">Số lượng</label>
                  <input
                    type="number"
                    class="form-control"
                    id="quantity"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.quantity"
                    placeholder="Số lượng"
                  />
                  <div *ngIf="!voucher.quantity" class="alert alert-danger">
                    <div *ngIf="!voucher.quantity">Vui lòng nhập số lượng.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="discountType">Nơi áp dụng</label>
                  <select
                    class="form-control"
                    id="kkad"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.apply"
                  >
                    <option value="2">Tất cả mọi nơi</option>
                    <option value="0">Tại cửa hàng</option>
                    <option value="1">Mua online</option>
                    <!-- Thêm các loại voucher khác nếu cần -->
                  </select>
                  <div *ngIf="!voucher.apply" class="alert alert-danger">
                    <div *ngIf="!voucher.apply">Vui lòng chọn nơi áp dụng.</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="discountType">Khách hàng áp dụng</label>
                  <select
                    class="form-control"
                    id="kkad"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.optionCustomer"
                  >
                    <option value="0">Tất cả khách hàng</option>
                    <option value="1">Tùy chọn</option>
                  </select>
                </div>
                <div class="form-group" *ngIf="voucher.optionCustomer == 1">
                  <label for="customer">Khách hàng</label>
                  <div class="grid">
                    <ag-grid-angular
                      style="width: 100%; height: 300px"
                      class="ag-theme-balham"
                      [rowData]="rowData"
                      [columnDefs]="columnDefs"
                      [rowSelection]="rowSelection"
                      [headerHeight]="headerHeight"
                      [rowHeight]="rowHeight"
                      [pagination]="true"
                      [paginationPageSize]="5"
                      [domLayout]="'autoHeight'"
                      (gridReady)="onGridReady($event)"
                    ></ag-grid-angular>
                  </div>
                </div>
                <div class="form-group">
                  <label for="limitCustomer">Giới hạn số lần sử dụng với mỗi khách hàng</label>
                  <input
                    type="number"
                    class="form-control"
                    id="limitCustomer"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.limitCustomer"
                    placeholder="Số lượng"
                  />
                  <div *ngIf="!voucher.limitCustomer" class="alert alert-danger">
                    <div *ngIf="!voucher.limitCustomer">Vui lòng nhập giới hạn sử dụng.</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="allow"
                           [checked]="voucher.allow === 1" (change)="toggleAllowDiscount()">
                    <label class="form-check-label" for="allow">
                      Cho phép xử dụng cùng giảm giá
                    </label>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" (click)="editVoucher()">Submit</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
