<h1 mat-dialog-title>Thêm sản phẩm</h1>
<div mat-dialog-content class="example-container"style="display: flex">
  <div style="margin-right: 10px">
    <mat-form-field appearance="outline">
      <mat-label>Mã</mat-label>
      <input [(ngModel)]="Code" name="Code" matInput placeholder="Mã">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tên sản phẩm</mat-label>
      <input [(ngModel)]="Name" name="Name" matInput placeholder="Tên">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tên người tạo</mat-label>
      <input [(ngModel)]="CreateName" name="CreateName" matInput placeholder="Người tạo">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mô tả</mat-label>
      <input [(ngModel)]="Description" name="Description" matInput placeholder="Mô tả">
    </mat-form-field>
    <mat-radio-group [(ngModel)]="Status" name="Status">
      <mat-label>Trạng thái</mat-label>
      <mat-radio-button [value]="0">Còn hàng</mat-radio-button>
      <mat-radio-button [value]="1">Hết hàng</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Thương hiệu</mat-label>
      <mat-select [(ngModel)]="IdBrand">
        <mat-option *ngFor="let br of brand" [value]="br.id">
          {{br.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Danh mục</mat-label>
      <mat-select [(ngModel)]="IdCategory">
        <mat-option *ngFor="let cate of categories" [value]="cate.id">
          {{cate.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Đế giày</mat-label>
      <mat-select [(ngModel)]="IdSole">
        <mat-option *ngFor="let sl of sole" [value]="sl.id">
          {{sl.soleHeight}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chất liệu</mat-label>
      <mat-select [(ngModel)]="IdMaterial">
        <mat-option *ngFor="let mt of material" [value]="mt.id">
          {{mt.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>IdBrand</mat-label>-->
<!--      <input [(ngModel)]="IdBrand" name="IdBrand" matInput placeholder="IdBrand">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>IdCategory</mat-label>-->
<!--      <input [(ngModel)]="IdCategory" name="IdCategory" matInput placeholder="IdCategory">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>IdSole</mat-label>-->
<!--      <input [(ngModel)]="IdSole" name="IdSole" matInput placeholder="IdSole">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="outline">-->
<!--      <mat-label>IdMaterial</mat-label>-->
<!--      <input [(ngModel)]="IdMaterial" name="IdMaterial" matInput placeholder="IdMaterial">-->
<!--    </mat-form-field>-->
    <mat-form-field appearance="outline">
      <mat-label>Gía</mat-label>
      <input [(ngModel)]="Price" name="Price" matInput placeholder="Gía">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" routerLink="/admin/san-pham">Đóng</button>
  <button mat-raised-button color="primary" (click)="clickaddProduct()">Thêm</button>
</div>
