<h1 mat-dialog-title>Thêm chất liệu</h1>
<div mat-dialog-content class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Tên chất liệu</mat-label>
    <input [(ngModel)]="Name" name="Name" matInput placeholder="Tên chất liệu" (change)="validate()">
    <small style="color: red;font-size: 12px" class="error-validate" *ngIf="blName">
      Vui lòng nhập tên chất liệu
    </small>
    <small style="color: red;font-size: 12px" class="error-validate" *ngIf="maxLengthName">
      Vui lòng nhập tên dưới 250 kí tự
    </small>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mô tả</mat-label>
    <input [(ngModel)]="Description" name="Description" matInput placeholder="Mô tả" (change)="validate()">
    <small style="color: red;font-size: 12px" class="error-validate" *ngIf="blDescription">
      Vui lòng nhập mô tả chất liệu
    </small>
  </mat-form-field>
  <mat-radio-group [(ngModel)]="Status" name="Status" (change)="validate()">
    <mat-label>Trạng thái</mat-label>
    <mat-radio-button [value]="0">Hoạt Động</mat-radio-button>
    <mat-radio-button [value]="1">Ngừng Hoạt Động</mat-radio-button>
    <small style="color: red;font-size: 12px" class="error-validate" *ngIf="blStatus">
      Vui lòng chọn trạng thái
    </small>
  </mat-radio-group>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>CLOSE</button>
  <button mat-raised-button color="primary" (click)="clickadd()" [disabled]="checkValidateDisableSave">ADD</button>
</div>
